body {
  font-family: sans-serif;
  background-color: black;
  position: sticky;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.satellites {
  position: absolute;
  right: 0px;
  top: 0px;
}
.satellites > tbody {
  color: white;
}

.left_Graphs {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 1300px;
}
.earth_Div {
  text-align: center;
  color: white;
}
.earth_Image {
  text-align: center;
}
.earth_Image > img {
  margin-top: -150px;
  pointer-events: none;
  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
